<h1 class="box">記事を書く</h1>
<p align="center"><%= flash[:success] %></p>
<p align="center"><%= flash[:danger] %></p>
<%= form_for(@blog) do |f| %>
	<p align="center">
	<%= f.label :title,"タイトル" %>
	<%= f.text_field :title %>
	</p>
	<p align="center">
	<%= f.label :content,"コンテンツ" %>
	<%= f.text_area :content, class: "form-control", rows: 5  %>
	</p>
	<p align="center">
	<%= f.submit "登録" %>
	</p>
<% end %>

<div align="center">
	<%= link_to "記事一覧へ戻る" ,blogs_path %>
</div>

